# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build src/AzureFunctionApp.sln --configuration $(buildConfiguration)
  displayName: 'dotnet build $(buildConfiguration)'

- script: dotnet publish src/AzureFunctionApp.sln --configuration $(buildConfiguration)
  displayName: 'dotnet publish src/AzureFunctionApp.sln $(buildConfiguration)'
- script: dotnet test src/AzureFunctionApp.sln 
  displayName: 'dotnet unit test'
- script: dotnet pack src/AzureFunctionApp.sln 
  displayName: 'dotnet packing'  
- script: ls /home/vsts/work/1/s/src/ClaimSubmission/bin/Release/netcoreapp2.1/publish/
  displayName: 'publish path'
- script: ls /home/vsts/work/1/s/src/ClaimSubmission/bin/Release/netcoreapp2.1/publish/bin
  displayName: 'publish path/bin'
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '/home/vsts/work/1/s/src/ClaimSubmission/bin/Release/netcoreapp2.1/publish/bin'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.Repository.Name)_$(Build.BuildId).zip'
    replaceExistingArchive: true